*{padding:0;margin:0;box-sizing: border-box;
font-family: sans-serif;}
a{text-decoration: none;color:black;}
ul{list-style: none;}
input[type=checkbox]{display: none;}
:root{
      --main-color:#FD8469;
      --secound-color:#373737;
      --test-color:#F7BAA8;
    }
.content{
  width:90%;
  margin: auto;
}
body{
  height:5500px;
}
/*button buy*/
.button{
  padding:1em ;
  background:var(--secound-color);
  border-radius: 25px;
  display: inline-block;
}
.button a{
  color:var(--main-color);
  font-weight: bold;

}
/*----header**/
#header{
  background:white;
  padding:0.5em 1em;
  position: relative;
}
#header nav {
  padding:1em 0.2em;
}
#header nav > ul{
display: flex;
justify-content: space-between;
list-style: none;
align-items: center;
}
#header nav > ul li:nth-of-type(1) .buttonArrows span{
  display: block;
  height:4px;
  width:30px;
  background: var(--secound-color);
  margin:0.2em;
}
#header nav >ul li:nth-of-type(2) h1{
  color:var(--main-color);
  font-size: 2em;
  text-transform: uppercase;
}

#header nav >ul li:nth-of-type(2) a{
  color:var(--secound-color);
}
#header nav >ul li:nth-of-type(2) a span:not(.header_title){
  display: inline-block;
  height:1px;
  width:20px;
  background:var(--main-color);
}
#header nav > ul li:nth-of-type(3) img{
  height:30px;
  width:30px;
  background:var(--secound-color);
}
/**   --nav slider show ----------******************************/
#panneuOption{
  position: fixed;
  width:100%;
  left:-100%;
  top:0;
  z-index:10;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  transition: 1s opacity;

}
#panneuOption:before{
  content: "ee";
  background: black;
  width:100%;
  position: absolute;
  height: 100vh;
  z-index: -1;
  opacity: 0.3;
}

#panneuOption ul{
  width:90%;
    height:100vh;
      background: white;
}
#panneuOption ul li{
  color:var(--secound-color);
  border-bottom: 1px solid var(--secound-color);
  width:100%;

}
#panneuOption ul li:hover{
  background: #ECECEC;
}
#panneuOption ul li a{
    display: block;
    padding:0.9em 0.5em;
    font-size: 1em;
    font-weight: 510;
}
#panneuOption ul li a:hover{
  color:var(--main-color);
}
#panneuOption .buttonClose{
  width:10%;
}
#panneuOption .buttonClose label >span {
  background: white;
  width:100%;
  display:inline-block;
padding: 1em;
}
#panneuOption .buttonClose label >span span{
  display: block;
  height:2px;
  width:35px;
  background: black;
}
#panneuOption .buttonClose label >span span:nth-of-type(1){
  transform: rotate(45deg);
}
#panneuOption .buttonClose label >span span:nth-of-type(2){
  transform: rotate(-45deg);

}
#header nav > ul li:nth-of-type(1) input[type=checkbox]:checked + #panneuOption{
  left:0;
}
/*Fin header*/
/*section main*/
#sectionMain {
  height:100vh;
}
#sectionMain .sliderShow{
  position: relative;
}
#sectionMain .slider{
  display: flex;
  position: relative;
height:auto;
  }
#sectionMain .sliders .backgroundPhoto{
    height:550px;
    width: 500px;
    background:var(--test-color);
    margin:15px 15px;
}
#sectionMain .slider .sliders{
  position:relative;

}
#sectionMain .slider .sliders .mainArticle{
  position: absolute;
  top:20%;
  left:20%;
  width:60%;
  text-align: center;
  background:white;
}
#sectionMain .slider .sliders .mainArticle *{

  margin:0.4em 0;
}

#sectionMain .slider .sliders .mainArticle h3{
  font-weight: 100;
  position: relative;
}
#sectionMain .slider .sliders .mainArticle h3:after{
  content:'';
  height:2px;
  width:50px;
  display: inline-block;
  background:var(--main-color);
  position: absolute;
  top:50%;
  right:50px;
}
#sectionMain .slider .sliders .mainArticle h2{
  color:var(--main-color);
  font-weight: 500;
}
#Arrow{

}
#Arrow .Arrow{
  border:4px solid black;
  width:25px;
  height:25px;
  display: inline-block;
}
#Arrow .LeftArrow{
border-right: 0px;
border-bottom: 0px;
transform: rotate(-45deg);
}
#Arrow .RightArrow{
  border-left: 0px;
  border-bottom: 0px;
  transform: rotate(45deg);
}
#Arrow .arrows{
  position: absolute;
  display: inline-block;
  background:white;
  border-radius: 50%;
  height:40px;
  width:40px;
  top:50%;
  padding: 7.5px;
}
#Arrow div:nth-of-type(1){
  left:0px;
}
#Arrow div:nth-of-type(2){
  right:0px;
}
/**section shoppingsection**/
      /*********item style************/
      /******background id backgroundsectionmain*******/
          #bgrSctShopping{
            width:100%;
            height: 100vh;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
          }
          /*******information id ********/
          #infoStyle *{
            margin:10px 0;
          }
          #infoStyle h3{
              position: relative;
          }
          #infoStyle h3:after{
            content:"";
            position: absolute;
            width:50px;
            height: 1px;
            background: var(--main-color);
            top:50%;
          }
          #infoStyle h1{
            color:var(--main-color);
          }
          #infoStyle p{
            line-height: 1.4em;
          }

#shoppingsection{ }
#shoppingsection .items .item:nth-of-type(1){
  margin-bottom: 7em;
}

#shoppingsection .items .item:nth-of-type(1) .backgorund .photo{
  background-image: url("../img/1.jpg");
}
#shoppingsection .items .item:nth-of-type(2) .backgorund .photo{
    background-image: url("../img/2.jpg");
}
/***Fin section shoppingsection***/
/*************************************************/
/***section info tech device****/
#InTchDvc{
  padding-top:1em;
  background:var(--main-color);
}
#InTchDvc .spcFtr .Feature *{
  margin:1.6em 0;
}
#InTchDvc .spcFtr .Feature h4{
  position: relative;
  color:white;
}
#InTchDvc .spcFtr .Feature h4:after{
  content:"";
  position: absolute;
  top:50%;
  height:1px;
  width:40px;
  background: white;
}
#InTchDvc .spcFtr .Feature ul li{
  font-size:1.5em;
  color:white;
}
#InTchDvc .spcFtr .Feature ul li span{
  width:25px;
  height:25px;
  background:white;
  margin:0 0.5em;
  display: inline-block;
}
#InTchDvc .spcFtr .Feature .button {background: black;}
/**FIN section info tech device**/
/*section feedback*/
#FdBck {
padding:1em 0;
}
#FdBck .FdBckMain {
  text-align: center;
}
#FdBck .FdBckMain .Title > *{
  margin:2em 0;
}
#FdBck .FdBckMain .Title span{
  display: block;
  height:1px;
  width:60px;
  background: var(--main-color);
  margin:auto;
}
#FdBck .FdBckMain .Title h1{
  color:var(--main-color);
}
#FdBck .FdBckMain .items .item .ScPhoto{
  display: block;
  width:100%;

}
#FdBck .FdBckMain .items .item .ScPhoto .photo{
border-radius: 50%;
background: black;
height:100px;
width:100px;
margin: auto;
}
/*Fin section feedback*/
/*sectionvideo**/
#SectionVideo{
  height: 60vh;
  background: #212526;
  text-align: center;
  margin:2em 0;
}
#SectionVideo .VideoInfo *{
  margin: 1em 0;
}
#SectionVideo .VideoInfo h3{
  color:var(--main-color);
}
#SectionVideo .VideoInfo p{
color: white;

}

/*FIN sectionvideo**/
/*section Perfrmance*/
#SectionPerformance .perfrmanceInfo{
  text-align: center;
}
#SectionPerformance .perfrmanceInfo h1{
  color:var(--main-color):
}
/*FIN section Perfrmance*/
/*section perfrmance*/
#SectionPerformance .perfrmanceInfo{
  text-align: center;
}
#SectionPerformance .perfrmanceInfo > *{
  margin:0.4em 0;
}

#SectionPerformance .perfrmanceInfo span{
display: inline-block;
height:1px;
width:60px;
background:var(--main-color);
}
#SectionPerformance .perfrmanceInfo h1 {
  color:var(--main-color);
}
#SectionPerformance .items{
  display: flex;
  flex-wrap: wrap;
}
#SectionPerformance .items .item{
width:90%;
margin:auto;
}
#SectionPerformance .items .item .background{
  border-radius: 10px;
  height:200px;
  width:100%;
  background:black;
  position: relative;
}
#SectionPerformance .items .item .background:hover:after{
  content: "";
background:var(--main-color);
opacity: 0.7;
width:100%;
height:200px;
position:absolute;
top:0;
}
#SectionPerformance .items .item .infoItem > *{
  margin:.5em 0;
}
#SectionPerformance .items .item .infoItem a:hover{
  color:var(--main-color);
}
/*FIN section perfrmance*/
